/* This file is for your main application css. */

@import "./phoenix.css";
@import "./video.css";

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

header nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

header nav li a {
  color: white;
}

header nav li:hover {
  color: white;
  background-color: #111111;
}
